<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Trip Maker</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />


</head>
<body ng-app="TripMaker">
    <br />
    <div class="container" ng-controller="SubscriberController">

        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://api.doactively.com/docs">Trip Maker</a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <h2>
                    Create a Subscriber
                </h2>
                <p>
                    <div class="form-group">
                        <form name="CreateSubscribe">
                <p>
                    <input type="text" class="form-control" placeholder="Hint : Subscribers username" ng-model="subscriber.userid">
                </p>
                <input type="submit" class="btn btn-primary" value="Create Subscriber" ng-click="CreateSubscriber()" />

                </form>
            </div>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2>
                Create a Trip
            </h2>
            <p>
                <form name="CreateTrip">
            <p>
                <input type="text" class="form-control" placeholder="Hint: Trip name" ng-model="trip.name" />
            </p>
            <input type="submit" class="btn btn-primary" value="Create Trip" ng-click="CreateT()" />
            </form>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2> Associate a user with a trip</h2>
            <p>
                <form name="CreateUserTrips">

                    <div>

                        Select a registered subscriber @*: {{subscribername.subscriberid}}*@
                        <select data-ng-model="subscribername" class="form-control"
                                data-ng-options="subscribr.name for subscribr in registeredSubscribers"></select>
                    </div>
            <p>
                <div>
                    Select a trip for the subscriber @*: {{tripname.tripid}}*@
                    <select data-ng-model="tripname" class="form-control"
                            data-ng-options="trp.name for trp in allTrips"></select>
                </div>
            </p>
            
                <input type="submit" class="btn btn-primary" value="Create User Trip" ng-click="CreateUT()" />
           

            </form>
            </p>
        </div>

    </div>
    <div class="alert alert-warning" ng-show="message">
        <strong>Something went wrrong, please try again</strong> {{message}}
    </div>
    <div class="alert alert-success" ng-show="successmessage">
        <strong>Success! </strong> {{successmessage}}
    </div>
    </div>


    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Custom/app.js"></script>

</body>
</html>
